<div class="nes-container  with-title is-rounded max-w-screen-md">
  <p class="title nes-text">{{ questionMetadata.questionNo }} / {{ questionMetadata.totalQuestion }}</p>

  <div class="flex">
    <i [className]="selectedIconStyle" class="flex-none"></i>
    <p class="nes-balloon from-left -pointer flex-1 w-25" style="opacity: 80%;">
      {{ question.question }}
    </p>
  </div>

  @for (item of question.options; track $index) {
  <div class="py-2">
    <label class="nes-btn w-full" [class]="btnColors[$index]" (click)="chooseAnswer(item)">
      <input type="radio" class="nes-radio" name="answer" [checked]="$index === 0" />
      <span>{{ item }}</span>
    </label>
  </div>
  }


  <div class="flex justify-end">
    <button type="button" class="nes-btn" [class]="{ 'is-disabled': !answer }" [disabled]="!answer"
      (click)="confirmAnswer()">
      > Confirm
    </button>
  </div>

</div>
