<main>
  <app-header />

  <div class="flex flex-col min-h-screen">
    <div class="flex-grow px-2 pt-32 pb-5">
      @if (pageNumber == 0) {
      <app-language-box (pageEventEmitter)="handleEventChooseLang($event)" />
      }

      @if (pageNumber >= 1 && pageNumber
      <= totalQuestion) { <app-question-box [no]="pageNumber" [totalQuestion]="totalQuestion"
        [question]="questions[pageNumber - 1]" (resultEmitter)="handleEventScore($event)" />
      }

      @if (pageNumber > totalQuestion) {
      <app-judging-box [localize]="lang" [score]="score" [totalQuestion]="totalQuestion" />
      }

    </div>

    <app-footer />
  </div>
</main>

<router-outlet />
