<main>
  <app-header />

  <div class="flex flex-col min-h-screen justify-center align-center">
    <div class="flex-grow mx-2 mt-32">
      <app-language-box [class]="{ 'hidden': this.prefLang }" (prefLang)="handlePreferedLanguageSelection($event)" />

      @if (this.prefLang && this.currentQuestion <= this.maximumQuestion) {
        <app-question-box
        [question]="this.questionList[this.currentQuestion - 1]"
        [questionMetadata]="getQuestionMetadata"
        (resultEmitter)="handleQuestionAnswerSelection($event)"
        />
      }

      @if(this.currentQuestion > this.maximumQuestion) {
        <app-judging-box />
      }

    </div>

    <app-footer />
  </div>
</main>

<router-outlet />
