<div class="nes-container with-title is-centered is-rounded">
  <p class="title nes-text">Merdeka Pop Quiz !</p>

  <div class="flex">
    <i class="nes-mario flex-none"></i>
    <p class="nes-balloon from-left nes-pointer flex-1 w-25">
      <span [style]="{'filter': blurred ? 'blur(0.5px)' : 'none'}">
        {{ contentText }}
      </span>
    </p>
  </div>

  <div class="space-y-2 py-2">
    @for(lang of languages; track lang.code) {
      <button
        type="button"
        (click)="chooseLanguage(lang.code)"
        class="nes-btn w-full"
        [class]="{
          'is-primary': lang.code === 'my',
          'is-success': lang.code === 'en'
        }"
      >
        {{ lang.label }}
      </button>
    }
  </div>
</div>
